@font-face {
  font-family: PatrickHandSC;
  src: local('PatrickHandSC-Regular'), url('../fonts/PatrickHandSC-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: PatrickHandSC, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #213547;
  background-color: #fcfbf8;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --blog-post-font-size-title: 32px;
  --blog-post-line-height-title: 1.5;
}

@media screen and (max-width: 913px) {
  :root {
    --blog-post-font-size-title: 24px;
    --blog-post-line-height-title: 1.5;
  }
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  color: black;
}

p {
  color: black;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button {
  cursor: pointer;
}
