.hero-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-bottom: 128px;
}

.hero-subtitle {
    font-size: 1.5rem;
    color: #666;
    margin-bottom: 2rem;
}
