.blog-post {
    display: flex;
    flex-direction: column;
}

.edit-icon {
    position: absolute;
    top: 8px;
    right: 8px;
    border: none;
    /*background-color: transparent;*/
}

.blog-post-image-container {
    position: relative;
}


.date-container p {
    font-size: small;
    color: gray;
}

.blog-post h2 {
    font-size: x-large;
}

.blog-post p {
    font-size: small
}

.button-container {
    margin-top: 12px;
    width: 50%;
}
