.landing-page {
    width: 75%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    padding: 1rem;
}

.landing-page > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
    background: #fff;
    overflow: hidden;
}

.landing-page img {
    width: 100%;
    height: 225px;
    object-fit: cover;
}