
.full-blog-post-container {
    width: 75%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
}

.full-blog-post-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

@media screen and (max-width: 913px) {
    .full-blog-post-header {
        flex-direction: column;
        gap: 0;
    }
}

.full-blog-post-title {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    margin-bottom: 48px;
}

.full-blog-post-date {
    display: flex;
    justify-content: center;
}

.content-container {
    width: 100%;
    font-family: 'Calibri', sans-serif;
}

/*@media screen and (max-width: 913px) {*/
/*    .full-blog-post-container {*/
/*        width: 100%;*/
/*        display: flex;*/
/*        align-items: center;*/
/*        flex-direction: column;*/
/*        margin: auto;*/
/*    }*/
/*}*/
