

.full-blog-post-container {
    width: 75%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.full-blog-post-title {
    display: flex;
    justify-content: center;
    margin-bottom: 48px;
}

.full-blog-post-date {
    display: flex;
    justify-content: center;
}

.content-container {
    font-family: 'Calibri', sans-serif;
}
