.blogPostFormContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75%;
    margin: auto;
}

.blogPostFormButtonContainer {
    display: flex;
    justify-content: center;
    margin-top: 48px;
}

.blogPostImageUploadContainer {
    display: flex;
    justify-content: center;
    width: 30%;
    margin: auto;
}
