.header {
    width: 75%;
    margin: 0 auto;
    background-color: transparent;
    justify-content: space-between;
    align-items: center;

}

.headerContainer {
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;

}


.navLogoText {
    margin: auto 0 auto 0.5rem;
}


@media screen and (max-width: 913px) {
    .navLogo img {
        width: 64px;
        height: 64px;
    }
}
